/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_reset\.scss}line{font-family:\0000318}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_reset\.scss}line{font-family:\0000328}}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_reset\.scss}line{font-family:\0000331}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_reset\.scss}line{font-family:\0000334}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_reset\.scss}line{font-family:\0000337}}
blockquote, q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_reset\.scss}line{font-family:\0000341}}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_reset\.scss}line{font-family:\0000345}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\000034}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\000039}}
html, body {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000316}}
.container {
  margin: 0 auto;
  max-width: 70em;
  padding: 0 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000324}}
.row {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000328}}
.row:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000334}}
.col {
  display: block;
  float: left;
  padding-right: 1.5em;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000340}}
.row .col:last-of-type {
  padding-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000346}}
.wide-1 {
  width: 8.33%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000347}}
.wide-2 {
  width: 16.66%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000348}}
.wide-3 {
  width: 24.99%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000349}}
.wide-4 {
  width: 33.32%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000350}}
.wide-5 {
  width: 41.65%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000351}}
.wide-6 {
  width: 49.98%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000352}}
.wide-7 {
  width: 58.31%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000353}}
.wide-8 {
  width: 66.64%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000354}}
.wide-9 {
  width: 74.97%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000355}}
.wide-10 {
  width: 83.3%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000356}}
.wide-11 {
  width: 91.63%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000357}}
.wide-12 {
  width: 100%;
}

@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000363}}
  .container {
    padding: 0;
    max-width: 90em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000368}}
  .b-container {
    margin: 0 auto;
    max-width: 90em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000377}}
  .col {
    padding-right: 3em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000380}}
  .col:first-child {
    padding-left: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000387}}
  .b-wide-1 {
    width: 8.33%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000388}}
  .b-wide-2 {
    width: 16.66%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000389}}
  .b-wide-3 {
    width: 24.99%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000390}}
  .b-wide-4 {
    width: 33.32%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000391}}
  .b-wide-5 {
    width: 41.65%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000392}}
  .b-wide-6 {
    width: 49.98%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000393}}
  .b-wide-7 {
    width: 58.31%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000394}}
  .b-wide-8 {
    width: 66.64%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000395}}
  .b-wide-9 {
    width: 74.97%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000396}}
  .b-wide-10 {
    width: 83.3%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000397}}
  .b-wide-11 {
    width: 91.63%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_layout\.scss}line{font-family:\0000398}}
  .b-wide-12 {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_chrome\.scss}line{font-family:\000033}}
header {
  background-color: #104e8b;
  background: -webkit-gradient(linear, left top, left bottom, from(#104e8b), to(#1c86ee));
  background-image: -webkit-linear-gradient(top, #104e8b, #1c86ee);
  background: -moz-linear-gradient(top, #104e8b, #1c86ee);
  background-image: -moz-linear-gradient(top, #104e8b, #1c86ee);
  background-image: -ms-linear-gradient(top, #104e8b, #1c86ee);
  background-image: -o-linear-gradient(top, #104e8b, #1c86ee);
  color: white;
  padding: 2em 0;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_chrome\.scss}line{font-family:\0000311}}
nav {
  font-size: 1.6em;
  margin: 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_chrome\.scss}line{font-family:\0000315}}
nav ul {
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  font-weight: 800;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_chrome\.scss}line{font-family:\0000321}}
nav ul li {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_chrome\.scss}line{font-family:\0000324}}
nav ul li a {
  color: #333333;
  padding: 0.5em;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_chrome\.scss}line{font-family:\0000329}}
nav ul li a:first-child {
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_chrome\.scss}line{font-family:\0000334}}
nav ul li a:hover, nav ul li a:focus {
  background-color: #1c86ee;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_typography\.scss}line{font-family:\000033}}
body {
  color: #333333;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 62.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_typography\.scss}line{font-family:\000039}}
h1, h2, h3 {
  line-height: 1.33em;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_typography\.scss}line{font-family:\0000315}}
h1 {
  text-transform: uppercase;
  font-size: 2.6em;
  font-weight: 800;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_typography\.scss}line{font-family:\0000322}}
h2 {
  font-size: 2em;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_typography\.scss}line{font-family:\0000327}}
p {
  font-size: 1.4em;
  line-height: 1.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_utility\.scss}line{font-family:\000033}}
.blue {
  background-color: #1c86ee;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nickkatarow\/Sites\/nkatarow\.net\/_ui\/css\/sass\/_utility\.scss}line{font-family:\000038}}
.offscreen {
  display: block;
  left: -999999px;
  position: absolute;
  top: -999999px;
}
