// VARIABLES

// Colors
$white: #ffffff;
$blue: #1C86EE;
$dark-blue: #104E8B;
$dark-grey: #333333;

// Fonts
$open-sans: 'Open Sans', Helvetica, sans-serif;

// Measurements
$a-gutter: 1.5em;
$b-gutter: 3em;

// Breakpoints
$breakpoint-b: 70em;